<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.researchbuddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResearchBuddy">
        <activity
            android:name=".component.researcher.FormDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.FormCreateActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.ProjectPageActivity"
            android:exported="false"
            android:label="@string/title_activity_project_page"
            android:parentActivityName=".component.researcher.ResearcherHomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="component.researcher.ResearcherHomeActivity" />
        </activity>
        <activity
            android:name=".component.participant.ParticipantHomeActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.ResearcherHomeActivity"
            android:exported="false" />
        <activity
            android:name=".component.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".component.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>