<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.researchbuddy"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResearchBuddy">
        <activity
            android:name=".component.researcher.SaveToCloudActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.InterviewCreateActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.ImageCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.VideoCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.FormPageActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.AudioCaptureActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".component.researcher.CreateProjectActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".component.researcher.FormDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.FormCreateActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.ProjectPageActivity"
            android:exported="false"
            android:label="@string/title_activity_project_page"
            android:parentActivityName=".component.researcher.ResearcherHomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="component.researcher.ResearcherHomeActivity" />
        </activity>
        <activity
            android:name=".component.participant.ParticipantHomeActivity"
            android:exported="false" />
        <activity
            android:name=".component.researcher.ResearcherHomeActivity"
            android:exported="false" />
        <activity
            android:name=".component.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".component.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.researchbuddy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>